<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="MalikP.BusinessJournal.Data.Service.Settings.JournalSettingsBase.UserName" value=""/>
    <add key="MalikP.BusinessJournal.Data.Service.Settings.JournalSettingsBase.Password" value=""/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PodanieExportSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="PodanieExportSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://justice.gov.sk/PortalApp/Ws/PodanieExport.asmx" binding="basicHttpBinding" bindingConfiguration="PodanieExportSoap" contract="JusticeServiceReference.PodanieExportSoap" name="PodanieExportSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
